@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --main: black;
    --blue-dark:  rgb(15, 170, 209);
    --blue-light:  rgb(1, 190, 237);
    --background-blue-light:  rgb(193 243 255);
    --background-grey-light:  rgb(248, 248, 248);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.5rem;
}
.header {
    max-width: 1280px;
    width: 100%;
    height: 8rem;
    background-color: var(--background-grey-light);
    padding: 0 2rem;
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--main);
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.header-content {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.header-icon::before {
    margin-right: 2rem;
}
.rocket::before {
    font-size: 5rem;
    content: "\f135";
    color: var(--main);
}
.bars::before {
    display: none;
}
.header-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 3rem;
}
.header-nav {
    width: 65%;
}
.header-nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    list-style-type: none;
}
.header-nav__link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.4rem;
    color: var(--main);
    cursor: pointer;
    transition: all ease-in-out .45s;
}
.header-nav__link:hover {
    color: var(--blue-light);
}
.header-nav__link:focus {
    color: var(--blue-dark);
}
.header-nav__link:active {
    color: var(--blue-dark);
}
.main {
    max-width: 1280px;
    width: 100%;
    display: flex;
    background-color: var(--background-grey-light);
}
.info {
    width: 30%;
    background-color: var(--background-grey-light);
}
.info-content {
    background-color: var(--background-grey-light);
    padding: 2rem;
}
.info__foto {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.info-icon::before {
    font-size: 3.5rem;
    color: var(--main);
    margin-right: 1.5rem;
    cursor: pointer;

    transition: all ease-in-out .45s;
}
.info-icon:hover::before {
    color: var(--blue-light);
}
.info-icon:focus::before {
    color: var(--blue-dark);
}
.info-icon:active::before {
    color: var(--blue-dark);
}
.info-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    color: var(--main);
}
.info-list {
    list-style-type: none;
}
.info-list__item {
    margin: 1rem 0;
}
.planet::before {
    content: "\f7a2";
}
.phone::before {
    content: "\f098";
}
.linkedin::before {
    content: "\f0c1";
}
.mail::before {
    content: "\40";
}
.git::before {
    content: "\f126";
}
.discord::before {
    content: "\f086";
}
.info-list__link {
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--main);
    cursor: pointer;

    transition: all ease-in-out .45s;
}
.info-list__link:hover {
    color: var(--blue-light);
    transform: scale(1.05);
}
.info-list__link:focus {
    color: var(--blue-dark);
}
.info-list__link:active {
    color: var(--blue-dark);
}

.desc {
    width: 70%;
    background-color: var(--background-grey-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.desc-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 3.5rem;
    align-self: center;
    margin-top: 2rem;
}
.desc-content{
    padding: 2rem;
}
.desc-content__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
}
.desc-content__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2rem;
    margin: 1rem 0;
}
.desc-content__text-container {
    margin-top: 1.5rem;
    border: 1px solid var(--main);
    border-radius: 2rem;
    padding: 2rem;
    background-color: var(--background-blue-light);
}
.skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
  }
  .projects__item {
    list-style-type: none;
  }
  .projects__image {
    width: 30rem;
    height: 18rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    object-fit: cover;
    transition: 0.5s;
  }
  .projects__image:hover {
    transform: scale(1.02);

  }
  .projects__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 2rem;
    color: var(--main);
  }
  .projects__link {
    text-decoration: none;
  }
  .footer {
    max-width: 1280px;
    width: 100%;
    height: 6rem;
    background-color: var(--background-grey-light);
    padding: 0 2rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main);
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 2rem;
}
.slider__container {
    width: 100%;
    padding: 0 2rem;
}
.slider__title {
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 2rem;
}
.slider {
    width: 100%;
    position: relative;
}
.slider__photo {
    width: 100%;
    border: 1px solid var(--main);
    border-radius: 1rem;
}
.slider__icon::before {
    cursor: pointer;
    font-size: 2rem;
    color: var(--main);
    transition: all ease-in-out .3s;
}
.slider__icon-left::before {
    content: "\f053";
    position: absolute;
    top: calc(50% - 1rem);
    left: 3%;
    z-index: 100;
}
.slider__icon-right::before {
    content: "\f054";
    position: absolute;
    top: calc(50% - 1rem);
    right: 3%;
    z-index: 100;
}
.slider__icon:hover::before {
    color: var(--blue-light);
}
.slider__icon:focus::before {
    color: var(--blue-dark);
}
.slider__icon:active::before {
    color: var(--blue-dark);
}


@media screen and (max-width: 1070px) {
    .header-title {
        font-size: 2.5rem;
    }
    .header-nav__link {
        font-size: 2rem;
    }
    .codewars {
        width: 26rem;
    }
}

@media screen and (max-width: 768px) {
.wrapper {
    max-width: 768px;
    width: 100%;
    padding: 0 0.5rem;
}
.header {
    max-width: 768px;
    width: 100%;
    height: 6rem;
    padding: 0 1rem;
}
.header-icon::before {
    margin-right: 1rem;
}
.rocket::before {
    font-size: 3rem;
}
.header-title {
    font-size: 2rem;
}
.header-nav__list {
    gap: 1rem;
}
.header-nav__link {
    font-size: 1.6rem;
}
.main {
    max-width: 768px;
    width: 100%;
}
.info-content {
    padding: 1rem;
}
.info__foto {
    margin-bottom: 0.5rem;
}
.info-icon::before {
    font-size: 2.5rem;
}
.info-title {
    font-size: 2.5rem;
}
.info-list__link {
    font-size: 2rem;
}
.codewars {
    width: 20rem;
}
.desc-title {
    font-size: 2.5rem;
    margin-top: 1rem;
}
.desc-content{
    padding: 1rem;
}
.desc-content__title {
    font-size: 2rem;
}
.desc-content__text {
    font-size: 1.4rem;
    margin: 0.5rem 0;
}
.desc-content__text-container {
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}
.skills {
    justify-content: flex-start;
    gap: 1rem;
}
.projects__list {
    gap: 1rem;
}
.projects__image {
    width: 20rem;
    height: 12rem;
}
.projects__title {
    font-size: 1.4rem;
}
.footer {
    max-width: 768px;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.5px;
    font-size: 1.4rem;
}
}

@media screen and (max-width: 550px) {
    .wrapper {
        max-width: 550px;
        width: 100%;
        padding: 0 0.2rem;
        overflow-x: hidden;
    }
    .header {
        max-width: 550px;
        width: 100%;
        height: 4rem;
        padding: 0 2rem;
    }
    .header-content {
        width: 85%;
    }
    .header-icon::before {
        margin-right: 1.5rem;
    }
    .rocket::before {
        font-size: 2.5rem;
    }
    .header-title {
        font-size: 2.5rem;
    }
    .header-nav {
        max-width: 55rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .header-nav__list {
        display: none;
    }
    .header-nav__list-show {
        position: absolute;
        top: 5rem;
        right: 0;
        max-width: 55rem;
        width: 100%;
        height: 30rem;
        background-color: var(--background-blue-light);
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 1rem;
        z-index: 1000;
        animation-name: showNav;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    .header-nav__list-hidden {
        position: absolute;
        top: 5rem;
        right: 0rem;
        max-width: 55rem;
        width: 100%;
        height: 30rem;
        background-color: var(--background-blue-light);
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 1rem;
        z-index: 1000;
        animation-name: hiddenNav;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    .header-nav__link {
        font-size: 2rem;
    }
    .bars::before {
        width: 2.5rem;
        display: inline-block;
        font-size: 2.5rem;
        content: "\f0c9";
        color: var(--main);
        align-self: flex-end;
        cursor: pointer;

        transition: all ease-in-out .45s;
    }
    .bars:hover::before {
        color: var(--blue-light);
    }
    .bars:focus::before {
        color: var(--blue-dark);
    }
    .bars:active::before {
        color: var(--blue-dark);
    }
    .main {
        max-width: 550px;
        width: 100%;
        flex-direction: column;
        align-items: center;
       }
    .info {
        max-width: 550px;
        width: 100%;
        z-index: 0;
    }
    .info-content {
        max-width: 550px;
        width: 100%;
        padding: 1rem 2rem;
    }
    .info__foto {
        max-width: 550px;
        width: 100%;
        border-radius: 1rem;
        z-index: 0;
    }
    .info-icon::before {
        font-size: 3.5rem;
    }
    .codewars {
        width: 35rem;
    }
    .info-list__link {
        font-size: 3rem;
        color: var(--main);
        cursor: pointer;
        transition: all ease-in-out .45s;
    }
    .desc {
        max-width: 550px;
        width: 100%;
    }
    .desc-title {
        font-size: 3.5rem;
        align-self: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .desc-content{
        padding: 1rem;
    }
    .desc-content__title {
        font-size: 3rem;
    }
    .desc-content__text {
        font-size: 2rem;
    }
    .skills {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }
      .projects__image {
        width: 30rem;
        height: 18rem;
      }
      .projects__title {
        font-size: 2rem;
      }
      .footer {
        max-width: 550px;
        width: 100%;
        height: 4rem;
        padding: 0 2rem;
        margin-top: 0.5rem;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 380px) {
    .wrapper {
        max-width: 380px;
        width: 100%;
        padding: 0 0.2rem;
    }
    .header {
        max-width: 380px;
        width: 100%;
        padding: 0 1rem;
    }
    .header-content {
        width: 85%;
    }
    .header-icon::before {
        margin-right: 1.5rem;
    }
    .rocket::before {
        font-size: 2rem;
    }
    .header-title {
        font-size: 2rem;
    }
    .header-nav {
        max-width: 38rem;
        width: 100%;
    }
    .header-nav__list-show {
        position: absolute;
        top: 2.5rem;
    }
    .header-nav__list-hidden {
        position: absolute;
        top: 2.5rem;
    }
    .main {
        max-width: 380px;
        width: 100%;
       }
    .info {
        max-width: 380px;
        width: 100%;
    }
    .info-content {
        max-width: 380px;
        width: 100%;
        padding: 1rem 1rem;
    }
    .info__foto {
        max-width: 380px;
        width: 100%;
    }
    .info-title {
        margin-left: 1rem;
    }
    .info-icon::before {
        font-size: 3rem;
    }
    .codewars {
        width: 30rem;
    }
    .info-list__link {
        font-size: 2.2rem;
        color: var(--main);
        cursor: pointer;
        transition: all ease-in-out .45s;
        margin-left: 1rem;
    }
    .desc {
        max-width: 550px;
        width: 100%;
    }
    .desc-title {
        font-size: 2.2rem;
        align-self: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .desc-content{
        padding: 0.5rem;
    }
    .desc-content__title {
        font-size: 2.2rem;
    }
    .desc-content__text {
        font-size: 1.8rem;
    }
    .skills {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }
      .projects__image {
        width: 30rem;
        height: 18rem;
      }
      .projects__title {
        font-size: 2rem;
      }
      .footer {
        max-width: 380px;
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        margin-top: 0.5rem;
        font-size: 1.4rem;
    }
}

@media (min-width: 320px) and (max-width: 379px) {
    .desc-title {
        font-size: 2rem;
        align-self: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .header-nav {
        max-width: 379PX;
        width: 100%;
    }
    .projects__image {
        width: 25rem;
        height: 14rem;
      }
    .projects__title {
        font-size: 1.8rem;
    }
    .footer {
        font-size: 1.2rem;
    }
}
@keyframes showNav {
    from {
        opacity: 0;
        right: -20rem;
    }
    to {
        opacity: 1;
        right: 0
    }
}
@keyframes hiddenNav {
    from {
        opacity: 1;
        right: 0;
    }
    to {
        opacity: 0;
        right: -20rem;
    }
}